body{
    background-color: darkgray;
}
#myCanvas{
    border: 1px solid black;
    background-color: lightgray;
}
#myProgress{
    width: 100%;
    background-color: grey;
}
  
#myBar {
    width: 1%;
    height: 30px;
    background-color: red;
}