/* General */
body{
    background-image: url("https://s3.amazonaws.com/cartoonsmartstreaming/wp-content/uploads/2017/05/30000134/Pixel-Art-Royalty-Free-Game-Art0002.jpg");
    background-size: cover;
    background-position: fixed;
}
#time-tracker{
    position: absolute;
    left: 200;
    top: 0;
    color: black;
}
/* For Boss Health */
#boss-health-bar{
    width: 50%;
    background-color: grey;
    position: absolute;
    right: 200px;
}
#boss-health{
    height: 30px;
    background-color: red;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

/* For Monster Health */
progress{
    position: absolute;
    height: 1em;
    right: 10;
    text-align: center;
}
progress:before{
    content: attr(health-count);
    font-size: 1em;
    color: white;
    border: solid 1px black;
    background-color: #00000050;
    vertical-align: 0;
}

/* For Player Health */
#player-health{
    position: absolute;
    left: 10;
    top: 10;
}
#player-defense{
    position: absolute;
    left: 10;
    top: 50;
}

/* CSS for player to shake when hit */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-5deg); }
    20% { transform: translate(-3px, 0px) rotate(5deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(5deg); }
    50% { transform: translate(-1px, 2px) rotate(-5deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-5deg); }
    80% { transform: translate(-1px, -1px) rotate(5deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-5deg); }
}

/* Status box after beating a level or dying */
#status-box{
    position: absolute;
    left: 30%;
    top: 30%;
    width: 500;
    height: 300;
    background-color: #00000050;
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#status-text{
    text-align: center;
    width: 100%;
}
.option-box{
    height: 70px;
    width: 200px;
    background-color: #ffffff40;
    color:white;
    transition: transform 0.5s;
}
.option-box:hover{
    background-color: black;
    transform: scale(1.1, 1.1);
}
.option-text{
    text-align: center;
}

/* Exit button */
#exit-button{
    font-size: 2em;
    position: absolute;
    top: 10px;
    left: 300px;
    background-color: #00000050;
    color: white;
    transition: transform 0.5s;
}
#exit-button:hover{
    background-color: black;
    transform: scale(1.1, 1.1);
}
#exit-button:active{
    background-color: transparent;
    color:black;
}